.principal, .personnage {
  border: 3px solid black;
  border-radius: 50px;
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

img {
  border-radius: 50px;
  float: left;
}

h1 {
  text-align: center;
}

body {
  margin-left: 0cm;
  margin-right: 0cm;
}

nav {
  background-color: lightgray;
  border-bottom: 3px solid gray;
  border-top: 3px solid gray;

  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  padding: 0em;

  width: 100%;
  text-align: center;

  font-size: large;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 0pt;
  margin: 0pt;
}

nav ul li {
  display: inline-block;

  /* Transition */
  transition-property: background-color, color, transform;
  transition-duration: .5s;
  transform: scale(1);
}

nav a {
  color: black;
  text-decoration: none;

  margin: .2em;
  padding-left: .5em;
  padding-right: .5em;
}

nav ul li:hover {
  /* Transition */
  transition-property: transform;
  transform: scale(1.3);
  transition-duration: .5s;
}

nav ul li a:hover {
  background-color: gray;
  color: beige;

  /* Transition */
  transition-property: background-color, color, transform;
  transform: scale(1.3);
  transition-duration: .5s;
}
