<div class="card-deck mx-1">
  {% for item in site.query().filter(F.tags.contains("accueil")) %}
    <div class="card mb-4" style="min-width: 15em; max-width: 30em;">
      <h3 class="card-header"><a href="{{ item.path|url }}">{{ item.title }}</a></h3>
      {% if item.image %}
        {% set image = site.get(item.path + "/" + item.image) %}
        <img style="width: 100%; height: 10em; object-fit: cover; display: block;" src="{{ image.thumbnail(400)|url }}" alt="{{ image.title }}">
      {% endif %}
      {% if item.description %}
        <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
        </div>
      {% endif %}
      {% if item.date %}
        <div class="card-footer text-muted">
          {{ item.date|dateformat }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
