<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/litera/bootstrap.min.css" crossorigin="anonymous">

    <!-- CSS Perso (aussi peu que possible) -->
    <link rel="stylesheet" href="{{ "/static/style.css"|asseturl }}">

    <!-- pygment css -->
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <!-- Favicon. Généré avec https://realfavicongenerator.net-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/static/apple-touch-icon.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/static/favicon-32x32.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/static/favicon-16x16.png"|asseturl }}">
    <link rel="manifest" href="{{ "/static/site.webmanifest"|asseturl }}">
    <link rel="mask-icon" href="{{ "/static/safari-pinned-tab.svg"|asseturl }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ "/static/favicon.ico"|asseturl }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ "/static/browserconfig.xml"|asseturl }}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Bienvenue{% endblock %} — ICN</title>
    <!-- Open graph protocol -->
    {% block opengraph %}{% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand {% if this._path == '/' %}active{% endif %}" href="{{ '/'|url }}">
        <img id="logo" alt="Logo" src="{{ "/static/logo.svg"|asseturl }}" height=24>
        &nbsp;
        ICN
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="sequence" aria-expanded="false">Séquences <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="sequence">
                {% for item in site.query().filter(F.tags.contains("sequence")) if not "seance" in item.tags %}
                <a class="dropdown-item" href="{{ item.url_path|url }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            </li>
<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="seance" aria-expanded="false">Séances <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="seance">
                {% for item in site.query().filter(F.tags.contains("seance")) %}
                <a class="dropdown-item" href="{{ item.url_path|url }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            </li>

          {% for href, title in [
            ['/exposes', 'Exposés'],
            ['/apropos', 'À propos'],
          ] %}
          <li class="nav-item {% if this.is_child_of(href) %}active{% endif %}">
            <a class="nav-link" href="{{ href|url }}">
              {{ title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <ol class="breadcrumb mb-0">
        {% if site.get('/') == this %}
            <li class="breadcrumb-item active">Accueil</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ site.get('/').url_path|url }}">Accueil</a></li>
        {% endif %}
        {% set parents = this.path.split("/")[1:-1] %}
        {% for page in parents %}
          {% if "@" in page %}
            <li class="breadcrumb-item">{{ page }}</li>
          {% else %}
            <li class="breadcrumb-item"><a href="{{ site.get("/" + "/".join(parents[:loop.index])).url_path|url }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
        {% if site.get('/') != this %}
            <li class="breadcrumb-item active">{{ this.path.split("/")[-1] }}</li>
        {% endif %}
    </ol>

    <div class="alert alert-dismissible alert-danger mb-0">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4 class="alert-heading">⚠️ Attention ! ⚠️</h4>
            <p class="mb-0">
            Avec la réforme du bac 2021, l'enseignement d'ICN disparaît. Ce site ne sera donc plus mis à jour, et deviendra bientôt obsolète.

            L'ICN est plus ou moins remplacé par la <a class="alert-link" href="//snt.ababsurdo.fr">SNT</a>.
            </p>
    </div>

    <div class="container-fluid px-0 mx-0 ">
    {% block body %}{% endblock %}

    {% if this.parent.stream %}
        <div class="row mx-0">
            <div class="mx-auto">
                <ul class="pagination">
                    {% if this.has_prev() %}
                    <li class="page-item">
                        <a class="page-link" href="{{ this.get_siblings().prev_page.url_path|url }}">Précédent</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Précédent</a>
                    </li>
                    {% endif %}

                    {% for page in this.parent.children %}
                    <li class="page-item {% if page == this %} active {% endif %}">
                        <a class="page-link" href="{{ page.url_path|url }}">{{ loop.index }}</a>
                    </li>
                    {% endfor %}

                    {% if this.has_next() %}
                    <li class="page-item">
                        <a class="page-link" href="{{ this.get_siblings().next_page.url_path|url }}">Suivant</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Suivant</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="form-group">
      &nbsp;
    </div>

    <footer class="text-center footer mb-3" id="footer">
      &copy; <a href="http://forge.apps.education.fr/paternaultlouis/cours-2-icn">Copyright 2018</a> by Louis Paternault
      —
      Construit avec <a href="http://getlektor.com">Lektor</a> ;
      thème <a href="http://bootswatch.com/litera/">Litera</a>,
      basé sur <a href="http://getbootstrap.com/">Bootstrap</a>.
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
