{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
      <div class="row mx-0">
        <div class="col-sm-6 offset-sm-3">
  <h2>{{ this.title }}</h2>
        </div>
      </div>
  {% for item in this.body.blocks %}
          {{ item }}
  {% endfor %}
{% endblock %}
