{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% if this.image %}
{% set image = site.get(this.path + "/" + this.image) %}
{% endif %}

{% block opengraph %}
<meta property="og:title" content="{{ this.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ this|url(external=true) }}" />
{% if image %}<meta property="og:image" content="{{ image|url(external=true) }}" />{% endif %}
<meta property="og:description" content="{{ this.description }}" />
<meta property="og:locale" content="{{ config.PROJECT.locale }}" />
<meta property="og:site_name" content="{{ config.PROJECT.name }}" />
<meta property="og:article:published_time" content="{{ this.date }}" />
<meta property="og:article:author" content="{{ config.PROJECT.author }}" />
{% for tag in this.tags -%}
  <meta property="og:article:tag" content="{{ tag|replace("_", " ")|capitalize }}" />
{% endfor %}
{% endblock %}

{% block body %}

{% if image %}
<header class="bg-image-full" style="background: url('{{ image.path|url }}') no-repeat center; background-size: 100%;">
  <div class="" style="height: 200px;"></div>
  <div class="row-fluid">
    <div class="col-sm-6 offset-sm-3">
      <p class="px-2" style="background-color: rgba(245, 245, 245, 0.8);">
      <a href="{{ image.url }}">{{ image.title}}</a>,
      de <a href="{{ image.author_url }}">{{ image.author }}</a>
      publié sous licence <a href="{{ image.license_url }}">{{ image.license }}</a>.
      </p>
    </div>
  </div>
</header>
{% endif %}

<article>
<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    <h1>{{ this.title }}</h1>

    {{ this.body }}
  </div>
</div>
</article>

{% endblock %}
