{% extends "layout.html" %}

{% block title %}Étiquette « {{ this.tag }}»{% endblock %}

{% block body %}
<h1>Étiquette : {{ this.tag }}</h1>
<ul>
  {% for i in this.items %}
    <li><a href="{{ i|url }}">{{ i.title }}</a></li>
  {% else %}
    <li><em>No items.</em></li>
  {% endfor %}
</ul>
{% endblock %}
