<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="icon" href="{{ SITEURL }}/theme/images/favicon.png">
  </head>

  <body>

    <ul>
      <li><a href="{{ SITEURL }}/">Accueil</a></li>
      {% for page in pages %}
        <li><a href="{{ SITEURL}}/{{page.url}}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>

    {% block content %}
    {% endblock %}

  </body>
</html>
