{% extends "base.html" %}

{% block content %}

<ul>
  {% for article in articles %}
    <li><a href="{{ SITEURL }}/{{article.url}}">{{ article.title }}</a> : {{ article.summary }}</li>
  {% endfor %}
</ul>

{% endblock content %}
