#logo {
	animation-name: rotation;
	animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;;
	animation-iteration-count: infinite;
	/* animation-delay: 5s; */
	animation-play-state: paused;
}
#logo:hover {
	animation-play-state: running;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg) scale(1.5, 1.5);
	}
}
